<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CycleMain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <CycleMain.Properties.Settings>
            <setting name="Win_size" serializeAs="String">
                <value>468, 410</value>
            </setting>
            <setting name="Win_location" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="VideoSize" serializeAs="String">
                <value>Stretch</value>
            </setting>
            <setting name="Fullscreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sq1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Sq2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TriEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NoiEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DpmEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vrc6Sq1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vrc6Sq2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Vrc6SawEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mmc5Sq1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mmc5Sq2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Mmc5DpmEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SS5BWv1Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SS5BWv2Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SS5BWv3Enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImagesFormat" serializeAs="String">
                <value>.png</value>
            </setting>
            <setting name="ImagesFolder" serializeAs="String">
                <value>.\snapshots</value>
            </setting>
            <setting name="StatesFolder" serializeAs="String">
                <value>.\statesaves</value>
            </setting>
            <setting name="BrowserDataBasePath" serializeAs="String">
                <value>.\folders.fl</value>
            </setting>
            <setting name="ShowBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowserLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="BrowserSize" serializeAs="String">
                <value>891, 544</value>
            </setting>
            <setting name="Container1" serializeAs="String">
                <value>257</value>
            </setting>
            <setting name="Container2" serializeAs="String">
                <value>223</value>
            </setting>
            <setting name="Column_Name" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Column_Size" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column_Mapper" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Column_rating" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="IsDetailsView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebuggerLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="DebuggerSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="RunConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSwitchTvformat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="D3D_IsImmediate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="D3D_FullscreenResIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="D3D_HideUpperScanlines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveSRAM" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PauseWhenFocusLost" serializeAs="String">
                <value>True</value>
            </setting>
        </CycleMain.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
